{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}
    GM
{% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3    sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a>Query Operations <span class="sr-only">(current)</span></a></li>
                    {% for key, op in operations.items() %}
                        <li><a href="{{ url_for('.query', param_type = op[2], opt=key) }}"> {{ op[0] }} </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-md-5">
                {% if form %}
                    {{ form.csrf_token  }}
                    {{ wtf.quick_form(form) }}
                {% endif %}
                {% if response %}
                    <h1 class="page-header">Response:</h1>
                    <div class="row placeholders">
                        <div class="query">
                            {{ macros.query(response) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}