{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}
    GM
{% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3    sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a>Query Operations <span class="sr-only">(current)</span></a></li>
                    {% for key, op in operations.items() %}
                        <li><a href="{{ url_for('.query', opt=key) }}"> {{ op[0] }} </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
            <h1 class="page-header">Response:</h1>
                <div class="row placeholders">
                    {% if response %}
                        <div class="query">
                            {{ macros.query(response) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
