{% extends "base.html" %}
{% block title %}Blog - {{ user.username }}{% endblock %}
{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1>
                {{ user.username }}
                <br>
            </h1>
            {% if user.name or user.gateway_session %}
                <p>
                    {% if user.name %}
                        {{ user.name }}
                    {% endif %}
                    <br>
                    {% if user.gateway_session %}
                        Session: {{ user.gateway_session }}
                    {% endif %}
                </p>
            {% endif %}
            <p>
                Login time: {{ moment(user.login_time).format('YYYY-M-D h:mm:ss') }}
            </p>
        </div>
    </div>
{% endblock %}
